.icon {
    width:351px;
    height:113px;
}

.content {
    margin-top: 150px;
}

img {
    width: 50%;  
}

header {
    text-align: center;
}

li {
    list-style: none;
    text-align: center;
}

input {
    width: 250px;
}

nav {
    background-color: rgb(202, 197, 197);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

p {
    margin: 0 auto 0 auto;
}

.buttons {
    margin-bottom: 10px;
}

.section {
    width:100%;
    display: flex;
    justify-content: space-around;  
    padding: 5px;
    
    
}

.box1 {
    width:35%;
    background-color: rgb(127, 200, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
   
}

.box2 {
    width: 21%;
    background-color: rgb(127, 200, 255);
    display: flex;
    justify-content: center;
    padding: 0 10 0 10;
    align-items: center;
    
}

.box3 {
    width:43%;
    background-color: rgb(127, 200, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
}
